:root {
    --main-color: black;
    --text-color: white;
    --accent-color1-opaque: rgba(0, 0, 0, 0.5);
}

body {
    font-family: Monospace, sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    margin: 0;
    color: var(--text-color);

    /* background-color: var(--main-color); */
    background-image: radial-gradient(circle at bottom left, black, purple, pink);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: grid;
}

#top-row {
    grid-row: 1;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.counterDiv {
    text-align: center;
    margin-bottom: 2rem;
}

#middle-row {
    grid-row: 2;
}

#items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
    /* Ensures all items in a row have the same height */
}

.item {
    display: grid;
    align-items: start;
    /* height: 20rem; */
    height: auto;
    width: 20rem;
    font-size: 1.5rem;
    background-color: var(--accent-color1-opaque);
    backdrop-filter: blur(5px);
    overflow: hidden;
    border-radius: 2rem;

    /* reset animation */
    transform: scale(1.0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Add a soft shadow */
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.item label {
    grid-row: 1;
    padding: 1rem;
    text-align: center;
    background-color: none;
}

.item img {
    object-fit: cover;
    width: 100%;
    height: 20rem;
    cursor: pointer;
}

.item-animate {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Add a soft shadow */
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.content {
    grid-row: 2;
    text-align: center;
    /* Centers the text */
    color: var(--text-color);
    /* Matches the theme text color */
    align-self: end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Divides into 3 equal columns */
    text-align: center;
}

.quantity {
    grid-column: 2;
    width: 50px;
    text-align: center;
    justify-self: center;
    align-self: center;
}

button {
    /* padding: 1rem; */
    padding-bottom: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 4rem;
    background-color: var(--accent-color1-opaque);

    /* reset animation */
    transform: scale(1.0);
    box-shadow: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
    /* background-color: var(--accent-color2); */
}

.btn-l {
    grid-column: 1;
    background-color: none;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
}

.btn-r {
    grid-column: 3;
    background-color: none;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
}

.submit {
    margin-top: 2rem;
    text-align: center;
}

#submit {
    border-radius: 1rem;
    backdrop-filter: blur(5px);
}

#bottom-row {
    grid-row: 3;
    align-self: end;
}

footer {
    box-sizing: border-box;
    font-size: 1rem;
    background-color: grey;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    position: absolute;
    width: 100%;

    background-color: var(--accent-color1-opaque);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#order-summary {
    font-family: Monospace;
}

#clearCounter {
    font-size: 1rem;
    margin: 0;
    padding: 5px;
    background-color: red;
}

#info {
    text-align: center;
}
