:root {
    --main-color: black;
    /* --main-color: white; */
    --text-color: white;
    /* --text-color: black; */
    --accent-color1: #4CAF50;
    --accent-color2: #45a049;
}

body {
    font-family: Monospace, sans-serif;
    font-size: 1rem;
    margin: 0;
    color: var(--text-color);
    background-color: var(--main-color);
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.counterDiv {
    text-align: center;
    margin-bottom: 2rem;
}

#items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: stretch; /* Ensures all items in a row have the same height */
}

.item {
    display: grid;
    align-items: start;
    /* height: 20rem; */
    height: auto;
    width: 20rem;
    font-size: 1.5rem;
    background-color: var(--accent-color1);
    overflow: hidden;
    border-radius: 2rem;
}

.item label {
    grid-row: 1;
    padding: 1rem;
    text-align: center;
    background-color: none;
}

.item img {
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

.content {
    grid-row: 2;
    text-align: center; /* Centers the text */
    color: var(--text-color); /* Matches the theme text color */
    align-self: end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divides into 3 equal columns */
    text-align: center;
}

.quantity {
    grid-column: 2;
    width: 50px;
    text-align: center;
    justify-self: center;
    align-self: center;
}

button {
    /* padding: 1rem; */
    padding-bottom: 10px;
    background-color: var(--accent-color1);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 4rem;
}

button:hover {
    /* background-color: var(--accent-color2); */
}

.btn-l {
    grid-column: 1;
    background-color: none;
    font-weight: bold;
}

.btn-r {
    grid-column: 3;
    background-color: none;
    font-weight: bold;
}

.submit {
    margin-top: 2rem;
    text-align: center;
}

.submit button {
    border-radius: 1rem;
}

#order-summary {
    margin-top: 20px;
}

footer {
    box-sizing: border-box;
    font-size: 1rem;
    background-color: grey;
    padding: 1rem;
    text-align: center;
    margin: 0;
    margin-top: 2rem;
    position: absolute;
    width: 100%;
}

footer button {
    font-size: 1rem;
    margin: 0;
    padding: 5px;
    background-color: red;
}
